---
import MobileMenu from './nav/mobile-menu';
import { GithubIcon, LinkedinIcon } from 'lucide-react';
---

<header>
  <nav class="bg-grey-900 text-gray-50">
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-50 flex justify-between py-8">
      <div class="relative z-10 flex items-center gap-16">
        <a class="flex items-center" aria-label="Home" href="/">
          <svg
            class="w-8 h-8 mb-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 144 146"
            fill="none">
            <path
              d="M31.0378 96.5792C25.8733 96.6434 20.5906 87.5827 18.4416 92.4241C17.541 94.453 18.2684 95.9134 18.4416 98.1374C19.126 106.925 21.0465 112.591 27.007 118.913C31.8556 124.055 35.8912 125.947 42.6262 127.743C49.4841 129.571 53.8358 129.26 60.7647 127.743C68.4273 126.065 73.2056 124.455 78.9032 118.913C86.7431 111.287 99.5798 90.4056 88.9801 92.4241C85.5189 93.0833 84.4031 96.0661 80.9186 96.5792C75.9908 97.3049 73.8036 92.3575 68.8263 92.4241C64.0352 92.4883 62.0217 96.3006 57.2378 96.5792C51.5171 96.9124 48.8546 92.1676 43.1301 92.4241C38.157 92.647 36.0152 96.5174 31.0378 96.5792Z"
              fill="#17B897"></path>
            <path
              d="M87.4303 10.6631L93.238 14.7939M119.372 33.3823L113.565 29.2515M113.565 29.2515L84.6494 69.905C84.6494 69.905 97.4651 90.7364 86.3878 110.497C75.3105 130.258 47.4814 136.61 29.6612 122.624C12.5617 109.203 10.9691 83.3737 25.4076 67.1241C38.8487 51.9968 64.3227 55.4474 64.3227 55.4474L93.238 14.7939M113.565 29.2515L93.238 14.7939"
              stroke="#F0FCF9"
              stroke-width="6"
              stroke-linecap="round"></path>
            <path
              d="M126.901 36.7791C126.9 36.8454 126.899 36.9105 126.899 36.9747C126.889 40.9247 127.644 45.686 132.83 46.6397C135.252 47.0852 138.38 46.2559 140.13 44.3941C142.208 42.1826 141.819 39.3429 140.625 37.2329C139.162 34.6457 136.807 32.9974 133.961 31.498C133.094 31.041 132.107 30.6544 130.971 30.6953C127.353 30.825 126.938 34.7907 126.901 36.7791Z"
              fill="#17B897"></path>
            <circle cx="66.5" cy="81.5" r="3.5" fill="#17B897"></circle>
            <circle cx="82" cy="49" r="3" fill="#17B897"></circle>
            <circle cx="40.5" cy="84.5" r="1.5" fill="#17B897"></circle>
            <circle cx="51.5" cy="71.5" r="2.5" fill="#17B897"></circle>
            <circle cx="97.5" cy="35.5" r="2.5" fill="#17B897"></circle>
          </svg>
          <span class="text-lg text-grey-50 font-bold"> Tim's Experiments</span>
        </a>
        <div class="hidden lg:flex items-center lg:gap-10">
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#features">
            <span class="relative z-10">Home</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#reviews">
            <span class="relative z-10">The Lab</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#pricing">
            <span class="relative z-10">Contact</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#faqs">
            <span class="relative z-10">
              <GithubIcon className="h-6 w-6" />
            </span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#faqs">
            <span class="relative z-10">
              <LinkedinIcon className="h-6 w-6" />
            </span>
          </a>
        </div>
      </div>
      <div class="flex items-center gap-6">
        <MobileMenu client:load />
      </div>
    </div>
  </nav></header
>
