---
import { GithubIcon, LinkedinIcon } from 'lucide-react';
import LogoLight from '../icons/tim_s_experiments_logo_dark.svg';
import MobileMenu from './nav/mobile-menu';
---

<header>
  <nav class="bg-grey-900 text-gray-50">
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-50 flex justify-between py-8">
      <div class="relative z-10 flex items-center gap-16">
        <a class="flex items-center" aria-label="Home" href="/">
          <img class="w-56" src={LogoLight.src} />
        </a>
        <div class="hidden lg:flex items-center lg:gap-10">
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#features">
            <span class="relative z-10">Home</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#reviews">
            <span class="relative z-10">The Lab</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#pricing">
            <span class="relative z-10">Contact</span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#faqs">
            <span class="relative z-10">
              <GithubIcon className="h-6 w-6" />
            </span>
          </a>
          <a
            class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-grey-300 transition-colors delay-150 hover:text-grey-100 hover:delay-0"
            href="/#faqs">
            <span class="relative z-10">
              <LinkedinIcon className="h-6 w-6" />
            </span>
          </a>
        </div>
      </div>
      <div class="flex items-center gap-6">
        <MobileMenu client:load />
      </div>
    </div>
  </nav>
</header>
