---
import Header from '../components/header.astro';
import BaseLayout from './base-layout.astro';
---

<BaseLayout title="Tim's Experiments">
  <Header />
  <main>
    <slot />
  </main>
</BaseLayout>
